@import "tailwindcss";

.cluster-icon {
  background-color: darkslategray;
  height: 2rem;
  width: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
}

.stations {
  position: fixed;
  z-index: 9999;
  background-color: #efefef;
  top: 0;
  left: 150;
  max-height: 50vh;
  width: 20rem;
  padding: 4px;
  overflow-y: scroll;
}